{% extends "base.html" %}

{% block content %}

<h2>{{ task.title }}</h2>
<p>{{ task.description }}</p>
<p>Status: {{ task.get_status_display }}</p>
<p>Priority: {{ task.get_priority_display }}</p>

<hr>

<h3>Comments</h3>

<a href="{% url 'tasks:comments:comment-add' task_id=task.pk %}">Add Comment</a>

<ul>
    {% for item in comments %}
        {% include "comments/comment_item.html" with comment=item.comment can_edit=item.can_edit can_delete=item.can_delete%}
    {% empty %}
        <li>NO comment yet.</li>
    {% endfor %}
</ul>

{% endblock content %}